@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
  background-color: #ee919d;
}

.accordeon {
  -webkit-border-radius: 5% 5%;
          border-radius: 5% 5%;
  padding: 20px 20px 20px 20px;
  width: 840px;
  background-color: #44bcd1;
  margin: 300px 300px 200px 500px;
  height: 380px;
  text-align: center;
}

.accordeon__first-accoredeon {
  background-color: #ca5050;
  width: 800px;
  -webkit-border-radius: 5% 5%;
          border-radius: 5% 5%;
}

.accordeon__second-accoredeon {
  background-color: #09611f;
  width: 800px;
  -webkit-border-radius: 5% 5%;
          border-radius: 5% 5%;
}

.accordeon__third-accoredeon {
  background-color: #6e61df;
  width: 800px;
  -webkit-border-radius: 5% 5%;
          border-radius: 5% 5%;
}

.accoredeon__tittle {
  line-height: 50px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  background-color: rgba(170, 50, 220, 0.6);
  width: 800px;
  -webkit-border-radius: 35% 10%;
          border-radius: 35% 10%;
  display: none;
  line-height: 20px;
  height: 100px;
  border: 4mm ridge rgba(170, 50, 220, 0.6);
}
