header {
	display: block;
}

.header_container {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header_container li {
	float: left;
}

.header_container li a {
	display: block;
	color: #ce1d1d;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.container {
	display: block;
}