html,
body {
	height: 100%;
}

body {
	background-color: aquamarine;
	display: flex;
	font-family: "Andale Mono", sans-serif;
}

.game-container {
	text-align: center;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-canvas {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: #fff;
}

.game-title {
	text-transform: uppercase;
	color: darkslategray;
}

.icon {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	cursor: pointer;
}

.mandarin,
.grinch {
	width: 24px;
	height: 24px;
}

.grinch {
	display: none;
}

.button {
	border: 1px solid #553e30;
	padding: 5px 10px;
	font-size: 14px;
	background-color: orange;
	border-radius: 3px;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}

#startButton {
	display: none;
	margin: 0 0 0 50px;
}

#restartButton {
	margin: 10px 0 0 0;
	width: 120px;
	background-color: rgb(16, 223, 223);
}
