@import "nullstyle.scss";

body {
	font-size: 20px;
	font-weight: 500;
	font-family: sans-serif;
	background-color: rgb(238, 145, 157);
}
.accordeon {
	border-radius: 5% 5%;
	padding: 20px 20px 20px 20px;
	width: 840px;
	background-color: rgb(68, 188, 209);
	margin: 300px 300px 200px 500px;
	height: 380px;
	text-align: center;

	&__first-accoredeon {
		background-color: rgb(202, 80, 80);
		width: 800px;
		border-radius: 5% 5%;
	}

	&__second-accoredeon {
		background-color: rgb(9, 97, 31);
		width: 800px;
		border-radius: 5% 5%;
	}

	&__third-accoredeon {
		background-color: rgb(110, 97, 223);
		width: 800px;
		border-radius: 5% 5%;
	}
}
.accoredeon {
	&__tittle {
		line-height: 50px;
		height: 40px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.content {
	background-color: rgba(170, 50, 220, 0.6);
	width: 800px;
	border-radius: 35% 10%;
	display: none;
	line-height: 20px;
	height: 100px;
	border: 4mm ridge rgba(170, 50, 220, 0.6);
	&__list {
	}
}
