@import "nullstyle";

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.container{
}
.btn {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 40px;
}
.btn-primary {
  background-color: #07ec8e;
  border-color: #020202;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #10e7d4;
}

.container__planets-block {
  margin-top: 50px;
}

th {
  border: 2px solid #ade8d8;
}







