@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  padding-top: 40px;
}

.form-control {
  margin-bottom: 10px;
}

h1 {
  font-size: 30px;
}

.cards-block {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.card {
  margin-bottom: 10px;
  padding: 5px;
  border: 6px solid transparent;
}
.card.card--important {
  border: 6px solid rgb(10, 69, 146);
}

.btn {
  padding: 0 0 10px 10px;
  margin: 0 0 10px 10px;
}
.form-check-input {
  margin: 0 10px 5px 10px;
}

.form-check-label {
  vertical-align: text-bottom;
}

.card.card--completed {
}
